@media (max-width: 1024px) {
  .pc {
    display: none;
  }
  /* 헤더 시작 */
  header {
    position: relative;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  header div {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 5vw;
    font-size: 8vw;
    align-items: center;
    color: #f1c6c6;
  }
  header nav {
    width: 100%;
    height: 100vh;
    background: rgba(30, 53, 104, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    color: #f1c6c6;
    display: none;
  }
  header nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    text-align: center;
  }
  header .open,
  header .close {
    cursor: pointer;
  }
  /* 탑버튼 */
  .topbtn {
    position: fixed;
    z-index: 999;
    background: #1e3568;
    right: 3vw;
    bottom: 3vw;
    border-radius: 100%;
    border: 2px solid #f1c6c6;
  }
  .topbtn a {
    display: block;
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f1c6c6;
  }
  .topbtn i {
    color: #f1c6c6;
    font-size: 3vw;
  }
  /* 헤더 끝 */
  /* 컨테이너 시작 */
  /* con01 */
  /* con01 인트로 */
  .con01 {
    width: 100%;
    height: 100vh;
    background: #f6f7f1;
    display: flex;
    align-items: center;
    position: relative;
    color: #1e3568;
  }
  /* con01 div */
  .con01 div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* con01 name */
  .con01 .name li {
    font-size: 5vw;
    font-weight: normal;
    line-height: 8vw;
  }
  /* con01 high */
  .con01 .high {
    display: flex;
    flex-direction: column;
    color: #f1c6c6;
    font-style: italic;
  }
  .con01 .high li {
    font-size: 5vw;
    line-height: 8vw;
  }
  /*계단식으로 보이게함 */
  .con01 .high li:nth-child(2) {
    margin-top: -1vw;
  }
  .con01 .high li:nth-child(3) {
    margin-top: -1vw;
  }

  .con01 .slogan {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    height: 2vw;
    line-height: 5vw;
    font-weight: bold;
    text-align: center;
  }
  .con01 .slogan span {
    color: #f1c6c6;
    font-style: italic;
  }
  /* con01 끝 */
  /* con02 시작 */
  .con02 {
    width: 100%;
    height: 100vh;
    background: #f6f7f1;
    padding: 1vw 0;
    display: flex;
    flex-direction: column;
  }
  /* con02 left */
  .con02 .left {
    width: 100%;
    height: 50%;
    background: #1e3568;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .con02 .left .img-wrap {
    width: 50%;
    height: 80%;
    margin: 0 auto;
  }
  .con02 .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #f1c6c6;
  }
  /* con02 text */
  .con02 .text {
    color: #f1c6c6;
    width: 100%;
    margin: 5vw 0 2vw;
    font-size: 3vw;
  }
  .con02 .text .name {
    font-weight: bold;
    margin: 2vw;
  }

  /* con02 right */
  .con02 .right {
    color: #1e3568;
    margin: 0 auto;
    width: 100%;
    height: 50%;
    text-align: center;
  }
  .con02 .right h2 {
    font-size: 5vw;
    margin: 3vw 0 5vw;
  }
  .con02 .right ul.wrap {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    word-break: break-all;
  }
  .con02 .right li {
    display: flex;
    flex-direction: column;
  }
  .con02 .right .title {
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
  }
  .con02 .right .list {
    font-size: 2.2vw;
    line-height: 3.5vw;
  }
  /* con02 skill */
  .con02 .skill {
    width: 90%;
    margin: 1vw auto;
  }
  /*skillWrap*/
  .con02 .skillWrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 3vw;
    background-color: #fff;
    padding: 1vw;
  }
  .con02 .skillWrap li {
    width: 3vw;
    margin: 0 auto;
    height: 3vw;
    flex-shrink: 0;
  }
  .con02 .skillWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .con02 .simply-scroll-clip {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  /* con02 끝 */
  /* con03 시작 */
  .con03 {
    width: 100%;
    background-color: #1e3568;
    position: relative;
    padding: 20vw 0;
    color: #1e3568;
  }
  .con03 h3 {
    color: #828282;
    font-weight: normal;
    margin: 1vw;
    width: 100%;
  }
  .con03 h2 {
    margin-bottom: 2vw;
    font-size: 4vw;
  }
  /* con03 전체 ul */
  .con03 .clonCoding {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
  }
  /* con03 전체 li large */
  .con03 .large {
    width: 90%;
    height: 60vh;
    background: #f6f7f1;
    border-radius: 1vw;
    border: 1vw solid #f1c6c6;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 10vh;
    left: 7vw;
  }
  .con03 .large01 {
    transform: translateX(-5vw);
    z-index: 1;
  }
  /* con03 .large02 */
  .con03 .large02 {
    transform: translateY(2vw);
    z-index: 2;
  }

  .con03 .large03 {
    transform: translate(-5vw, 4vw);
    z-index: 3;
  }

  /* con03 작은 ul wrap */
  .con03 .wrap {
    display: flex;
    flex-direction: column;
  }
  .con03 .wrap .txt {
    line-height: 3.5vw;
    font-size: 3vw;
  }
  /* con03 textWrap */
  .con03 .wrap .textWrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .con03 .wrap .textWrap .tool {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8vw;
  }
  .con03 .wrap .textWrap .tool li img {
    width: 100%;
    height: 100%;
  }
  /* con03 imgWrap */
  .con03 .large .imgWrap {
    width: 80%;
    margin: 0 auto;
  }
  .con03 .large .imgWrap02 {
    margin-left: 10vw;
  }
  .con03 .imgWrap-pc {
    display: none;
  }
  .con03 .large .imgWrap img {
    width: 100%;
  }
  .con03 .large .textWrap {
    width: 40%;
    padding: 3vw 5vw;
    position: relative;
  }

  /* con03 more */
  .con03 .more {
    border: 1px solid #243b37;
    background: rgba(246, 247, 241, 0.5);
    border-radius: 5vw;
    width: 24vw;
    height: 8vw;
    line-height: 7vw;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: -90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .con03 .more a {
    display: block;
    font-size: 5vw;
  }
  .con03 .more:hover {
    cursor: pointer;
    background-color: #1e3568;
    border: 1px solid #f1c6c6;
    color: #f1c6c6;
  }
  /* con03끝 */
  /* con04 시작*/
  .con04 {
    height: 300vh;
    background: #1e3568;
    position: relative;
  }
  .con04 h2 {
    color: #f6f7f1;
    position: absolute;
    top: 5%;
    left: 5vw;
    font-size: 5vw;
    transform: translateY(-50%);
  }
  .con04 .scroll-box {
    position: sticky;
    top: 10%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  /* 가로로 길게 늘어나는 기차 역할을 하도록함 */
  .con04 .wrap {
    display: flex;
    gap: 5vw; /* 카드 사이의 여백 */
    padding-left: 25vw;
    padding-right: 5vw;
    /* height: 80vh; */
    color: #1e3568;
    list-style: none;
    margin: 0;
  }

  /* con04 wrap large */
  .con04 .wrap .large {
    background: #f6f7f1;
    width: 70vw;
    /* height: 90%; */
    flex-shrink: 0;
    padding: 20vw 5vw;
    display: flex;
    flex-direction: column;
  }
  .con04 .wrap .large h3 {
    font-size: 5vw;
    margin: 1vw 0;
    /* width: 20vw; */
  }
  .con04 .wrap .large .txt {
    font-size: 3vw;
    /* width: 10vw; */
  }
  /* .con04 imgWrap */
  .con04 .imgWrap {
    /* width: 65%; */
    margin: 0 auto;
  }
  .con04 .imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* con04 textwrap */
  .con04 .textWrap {
    width: 100%;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }
  /* 툴 이미지 정렬을 위한 임시 추가 */
  .con04 .wrap .tool {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 3vw 0 10vw;
    gap: 0.5vw;
  }
  .con04 .wrap .tool li {
    height: 10vw;
  }
  .con04 .wrap .tool li img {
    width: 100%;
    height: 100%;
  }
  /* more */
  .con04 .more {
    border: 1px solid #243b37;
    border-radius: 5vw;
    width: 23vw;
    height: 7.5vw;
    line-height: 7vw;
    text-align: center;
    align-items: center;
  }
  .con04 .more a {
    display: block;
    font-size: 4vw;
  }
  .con04 .more:hover {
    cursor: pointer;
    background-color: #1e3568;
    border: 1px solid #f1c6c6;
  }
  .con04 .more:hover a {
    color: #f1c6c6;
  }
  /* con04 끝 */
  /* con05시작 */
  .con05 {
    color: #1e3568;
    width: 100vw;
    height: 100vh;
    background: #f6f7f1;
    position: relative;
    display: none;
  }
  .con05 .pc {
    display: none;
  }
  /* con05 mo */
  .con05 .title {
    width: 45vw;
    font-weight: bold;
    font-size: 7vw;
    padding-top: 30vw;
    margin-left: 5vw;
    border-bottom: 1px solid #1e3568;
  }
  /* con05 textWrap */
  .con05 ul.textWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vw;
    margin-top: 10vw;
  }
  .con05 .textWrap li {
    display: flex;
    gap: 1vw;
    width: 80vw;
    margin: 5vw auto;
    padding-bottom: 1vw;
    cursor: pointer;
  }
  /* con05 left */
  .con05 .left {
    width: 100%;
  }
  .con05 .left p:nth-child(1) {
    font-size: 5vw;
  }
  .con05 .left p:nth-child(2) {
    font-size: 4vw;
  }
  /* con05 right */
  .con05 .right {
    position: absolute;
    margin: 15vw 0 20vw;
    word-break: keep-all;
    font-size: 3vw;
    width: 75%;
  }
  .con05 .right p {
    border-bottom: 1px solid #1e3568;
  }
  /* con05 imgWrap */
  .con05 .imgWrap {
    width: 55%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }
  .con05 .imgWrap li {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
  .con05 .imgWrap li > div {
    width: 100%;
    position: relative;
  }
  .con05 .imgWrap li img {
    width: 100%;
    height: 100vh;
    pointer-events: none; /* 이미지가 클릭 막지 않도록 */
  }
  /* more */
  .con05 .imgWrap li .more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1c6c6;
    font-weight: bold;
    font-size: 1.2vw;
    border: 5px solid #f1c6c6;
    background: #f6f7f1;
    pointer-events: auto; /* 링크는 클릭 가능 */
    border-radius: 2vw;
    padding: 0.5vw 1vw;
    z-index: 10;
  }
  .con05 .imgWrap li .more:hover {
    background: #1e3568;
  }
  /* con05 끝 */
  /* con06 시작 */
  .con06 {
    background: #1e3568;
    padding: 10vw 5vw;
  }

  /* title */
  .con06 .title-mo {
    color: #f6f7f1;
    font-size: 8vw;
    font-style: italic;
    padding-bottom: 5vw;
  }

  /* worklist */
  .con06 .worklist {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  .con06 .worklist li {
    width: 100%;
    transform: translateY(200px);
  }
  .con06 .worklist img {
    width: 100%;
    object-fit: cover;
  }
  /* con06 끝 */
  /* 컨테이너 끝 */
  /* 푸터시작 */
  /* footer */
  footer {
    width: 100vw;
    height: 60vh;
    background: #f6f7f1;
    color: #1e3568;
    position: relative;
  }
  /* contact글자효과 */
  footer .contact-full-wrapper {
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* 배경 분할: 위쪽(흰색), 아래쪽(푸터색 #222) */
    background: linear-gradient(to bottom, #1e3568 50%, #f6f7f1 50%);
  }

  footer .contact-text {
    margin: 0;
    padding: 0;
    line-height: 2;
    font-family: "Abril Fatface", serif;
    font-weight: 900;
    /* 화면 너비에 꽉 차게 설정 */
    width: 100vw;
    font-size: 18vw; /* 대략적인 크기 */
    text-align: center;
    /* 글자 사이 간격을 좁혀서 더 빽빽하게 (기호에 따라 조절) */
    letter-spacing: -1.2vw;
    /* 강제로 양끝을 맞추기 위한 트릭 (필요시 사용) */
    display: block;
    /* 글자를 가로로 살짝 늘려 빈틈 제거 */
    transform: scaleX(1.2);
    /* 글자 색상 분할 */
    background: linear-gradient(to bottom, #f6f7f1 50%, #1e3568 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  footer ul {
    width: 100%;
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1vw;
    text-align: center;
  }
  footer ul .copyright {
    margin: 2vw 0;
  }
  footer ul .copyright span {
    font-family: "Allura", cursive;
  }
  footer .hope {
    text-align: center;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
  }
  /* 푸터 끝 */
}
