* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/* 네이비컬러 {color:#1E3568;} / rgb(30, 53, 104) */
/* 아이보리컬러 {color:#F6F7F1;} / rgb(246, 247, 241) */
/* 핑크컬러 {color:#F1C6C6;} /  rgb(241, 198, 198) */
/* 그레이컬러 {color:#828282;} */
#java,
.java {
  display: none;
}
